.details-page {
    color: #fff;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.user-details-section {
    width: 100%;
}

.user-names-card-section {
    width: 100%;
}