::ng-deep {
    .mat-toolbar-single-row {
        background: #040519 !important;
        display: flex;
        box-sizing: border-box;
        padding: 0 16px;
        width: 100%;
        flex-direction: row;
        align-items: center;
        white-space: nowrap;
        border-bottom: .001px solid rgba(118, 118, 118, 0.312);

        span.app-title {
            color: #fff;
            font-style: 'Lexend';
            font-weight: 500;
            font-size: 1.8rem;
        }
    }
}