::ng-deep {
    .mat-toolbar-single-row {
        background: #040519 !important;
        display: flex;
        box-sizing: border-box;
        padding: 0 16px;
        width: 100%;
        flex-direction: row;
        align-items: center;
        white-space: nowrap;
        border-bottom: .001px solid rgba(118, 118, 118, 0.312);

        span.app-title {
            color: #fff;
            font-style: 'Lexend';
            font-weight: 500;
            font-size: 1.8rem;
        }
    }

    .mat-mdc-menu-panel {
        min-width: 162px !important;
        max-width: 280px;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        box-sizing: border-box;
        outline: 0;
        border-radius: var(--mat-menu-container-shape);
        background-color: #060c17 !important;
        border: 1px solid rgba(255, 255, 255, 0.277);
        will-change: transform, opacity;
    }

    .mat-mdc-menu-content {
        padding: 4px 0 !important;
    }

    .mat-mdc-menu-item {
        min-height: 40px !important;
    }

    .mat-mdc-menu-content .mat-mdc-menu-item .mat-mdc-menu-item-text {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        flex: 1;
        white-space: normal;
        font-family: var(--mat-menu-item-label-text-font);
        line-height: var(--mat-menu-item-label-text-line-height);
        font-size: var(--mat-menu-item-label-text-size);
        letter-spacing: var(--mat-menu-item-label-text-tracking);
        font-weight: 400 !important;
        color: #acacac !important;
    }
}

.example-spacer {
    flex: 1 1 auto;
  }